@font-face {
  font-family: 'Quicksand';
  src: url(../src/assets/fonts/Quicksand/Quicksand-Medium.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand';
}

a{
  text-decoration: none;
  color: black;
}

h1{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
  margin-top: 100px;
}

h2{
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
  margin-top: 100px;
}

h3{
  font-size: 19px;
}

html, body, #root {
    height: 100%;
    margin: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* toute la hauteur de la fenêtre */
}

.content-wrap {
    flex: 1; /* pousse le footer en bas */
}
